body {
  display: flex;
  font-family: georgia;
  font-size: 30px;
  opacity: 0.9;
  background-color: white;
  margin: 0px;
  justify-content: center;
  height: auto;
  width: 100%;
}

main {
  display: flex;
  padding-top: 120px;
  width: 100%;
}

.quarter {
  width: 23%;
  margin: 1%;
  height: 100%;
}

.half {
  width: 48%;
  margin: 1%;
  height: 100%;
}

.all {
  width: 98%;
  margin: 1%;
  height: 100%;
}

.Log {
  text-decoration: none;

}

.sign {
  text-decoration: none;

}

.Meds {
  text-decoration: none;

}

#logo {
  display: flex;
  width: auto;
  margin-left: auto;
}

header {
  margin: 0px;
  position: fixed;
  text-align: inline;
  width: 100%;
  display: flex;
  background-color: rgb(0, 109, 176);
  justify-content: space-between;
  height: 120px;
  border-bottom: 3px solid rgb(0, 0, 0);
}

header button {
  border: 1px solid #555;
}

header a {
  margin: 10px;
  width: 100px;
}

nav {
  padding-left: 10px;
  display: inline-flex;
  position: fixed;
}

#Important-text {
  justify-content: center;
  justify-items: center;
  display: grid;
  width: 100%;
  margin: auto;

}

#Important-text p {
  display: flex;

  border: 2px solid;
  padding: 10px;
  display: inline-block;
  border-radius: 5px;
  z-index: 1;
  justify-content: center;
  justify-items: center;
}

.wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;

}

.important {
  display: flex;
  width: 100%;
  justify-content: space-between;

}

.signup-container {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 350px;
  align-items: center;
  justify-content: center;
  position: relative;
}


.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

.container {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.breadcrumb-header .breadcrumb {
  padding: 0 0.5rem;
  padding-left: 10px;
  height: 10px;
  position: fixed;
}

.breadcrumb ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: end;
}

.breadcrumb li:not(:last-child)::after {
  display: inline-block;
  margin: 0 0.25rem;
  content: ">";
}
